* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.4;
  background: var(--wui-color-alias-neutral-900);
}
