.job {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 0.5rem;

    @media (min-width: 992px) {
      align-items: center;
      flex-direction: row;
    }

    img {
      border-radius: 100%;
      width: 80px;
      height: 80px;
    }
  }

  .content {
    padding-left: 0;

    @media (min-width: 992px) {
      padding-left: 6rem;
    }
  }

  .badges {
    margin-top: 1rem;
  }

  .description {
    margin-top: 1rem;
    white-space: pre-line;
  }
}
