#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
}

.app__collapse-backdrop {
  position: fixed;
  inset: 0;
  z-index: 0;
  cursor: alias;
}

.container {
  position: relative;
  z-index: 1;
  width: 100dvw;
  height: 100dvh;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "me"
    "ui"
    "web"
    "mob";
  transition:
    grid-template-columns 0.4s ease-in-out,
    grid-template-rows 0.4s ease-in-out,
    width 0.5s ease-in-out,
    height 0.5s ease-in-out,
    max-width 0.5s ease-in-out,
    max-height 0.5s ease-in-out;

  @media (min-width: 992px) {
    width: 50dvh;
    height: 50dvh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas:
      "me ui"
      "web mob";
    max-width: 90dvh;
    max-height: 90dvh;
  }
}

#app.app--zone-expanded .container {
  @media (min-width: 992px) {
    width: 80vmin;
    height: 80vmin;
    max-width: 80vmin;
    max-height: 80vmin;
  }
}

.container--me-expanded {
  grid-template-columns: 1fr;
  grid-template-rows: 12fr 1fr 1fr 1fr;

  @media (min-width: 992px) {
    grid-template-columns: 8fr 1fr;
    grid-template-rows: 8fr 1fr;
  }
}

.container--ui-expanded {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 12fr 1fr 1fr;

  @media (min-width: 992px) {
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 8fr 1fr;
  }
}

.container--web-expanded {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 12fr 1fr;

  @media (min-width: 992px) {
    grid-template-columns: 8fr 1fr;
    grid-template-rows: 1fr 8fr;
  }
}

.container--mob-expanded {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 12fr;

  @media (min-width: 992px) {
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 8fr;
  }
}
