html,
body {
    height: 100%;
    font-family: "Nanum Myeongjo", serif;
}

#main {
    display: flex;
    height: 100%;
}

#leftCol {
    background-color: #ffffff;
    flex: 1;
    flex-direction: column;
    padding: 50px;
    text-align: center;
    color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
        "Courier New", monospace;
}

#leftcol h3 {
    color: #000000;
}

#qrCode {
    margin-top: 30px;
}

#rightCol {
    background-color: #111111;
    flex: 2.5;
    position: relative;
}

#rightCol #back {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    /*opacity: 0.7;*/
}

#content {
    text-align: right;
    position: relative;
    height: 100%;
    overflow: auto;
    padding: 100px 150px 100px 100px;
    color: #7a7a7a;
    font-size: 14px;
}

a,
a:hover {
    color: #e83e8c;
}

h1 {
    margin-bottom: 40px;
    font-size: 60px;
    color: #ffffff;
    text-shadow: 0px 0px 14px rgba(255, 255, 255, 0.5);
}

h2 {
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 25px;
    color: #ffffff;
    opacity: 0.5;
}

#pseudo,
#guid {
    width: 330px;
    display: inline-block;
    background-color: rgba(232, 62, 140, 0.08);
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
        "Courier New", monospace;
    color: #e83e8c;
    border: 1px solid #e83e8c;
    font-size: 13px;
    text-align: center;
}

#pseudo:focus,
#guid:focus {
    box-shadow: 0 0 0 0.2rem rgba(232, 62, 140, 0.25);
}

#register,
#login,
#posButton {
    background-color: #e83e8c;
    border-color: #e83e8c;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
        "Courier New", monospace;
    font-size: 12px;
}

#register:active,
#login:active,
#posButton:active {
    box-shadow: 0 0 0 0.2rem rgba(232, 62, 140, 0.25);
}

#banner {
    padding: 10px 15px;
    background-color: rgba(232, 62, 140, 0.3);
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
        "Courier New", monospace;
    font-size: 11px;
}

.errorMessage {
    border-radius: 8px;
    padding: 10px 14px;
    background-color: #e83e8c;
    color: #ffffff;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
        "Courier New", monospace;
    font-size: 11px;
    margin-bottom: 20px;
    display: inline-block;
}

.errorMessage a {
    color: #ffffff;
    text-decoration: underline;
}

html.invert #leftCol {
    background-color: #000000;
    color: #dddddd;
    overflow: auto;
}

html.invert #rightCol {
    background-color: #fefefe;
    color: #3c3c3c;
}

html.invert #content {
    color: #0f0f0f;
}

html.invert #content strong {
    /*
    background-color: #e83e8c;
    color: #ffffff;
    padding: 3px 7px;
    font-weight: 100;
    border-radius: 5px;
    */
    font-weight: 900;
}

html.invert h1 {
    color: #000000;
}

html.invert h2 {
    color: #000000;
    opacity: 1;
}

html.invert #banner {
    background-color: rgba(232, 62, 140, 0.3);
    color: rgba(0, 0, 0, 0.7);
}

#map {
    height: 100%;
    width: 100%;
}

.withMap {
    padding: 0 !important;
    flex: 1.3 !important;
}

#loader {
    display: none;
}

@media (max-width: 640px) {
    html,
    body {
        height: auto;
    }

    #main {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }

    #leftCol {
        padding: 7rem 3rem;
    }

    #rightCol {
        flex: unset;
        width: 100%;
    }

    #content {
        height: auto;
        overflow: unset;
        padding: 7rem 3rem;
        font-size: 1.25rem;
    }

    #banner {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    #rightCol #back {
        display: none;
    }

    #leftCol.withMap {
        height: 500px;
    }

    .smallPadding {
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-bottom: 20px !important;
        padding-top: 100px !important;
    }

    .smallPadding h1 {
        margin-bottom: 14px;
        font-size: 40px;
    }

    .smallPadding p {
        font-size: 1rem;
    }

    #posButton {
        padding: 5px 14px;
        color: #ffffff;
        font-size: 1.24rem;
    }
}
