# Copy to .env and fill in your values. Do not commit .env.

#CDN_PATH=/www/projects/cdn/

# FTP_HOST=xxxx.xxxxxxxxxx.xxx
# FTP_USER=xxxxxxxxxx
# FTP_PASS=xxxxxxxxxx
# FTP_PORT=21

# APP_ENV=local

# DB_HOST=xxxxxxxxxx.mysql.db
# DB_USER=xxxxxxxxxx
# DB_PASSWORD=xxxxxxxxxx
# DB_NAME=xxxxxxxxxx
# DB_PORT=3306

# KALEI_ROOT_URL=https://wawawoom.fr/projects/kalei
# KALEI_VERSION=0.4
# KALEI_FACEBOOK_APP_ID=xxxxxxxxxxxxx
# KALEI_FACEBOOK_SECRET=xxxxxxxxxxxxx
