:root {
  --footer-width: 48px;
  --footer-width-desktop: 60px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.4;
  background: var(--wui-color-alias-neutral-0);
}

.container {
  margin: 0 auto;
  padding: 30px 20px;
}

@media (min-width: 992px) {
  .container {
    width: 65%;
    padding: 0;
  }
}

.header {
  text-align: center;
  margin: 20px 0;
}

@media (min-width: 992px) {
  .header {
    margin: 60px 0 40px 0;
  }
}

code {
  font-size: 0.875em;
  color: var(--wui-color-alias-danger-500);
  word-wrap: break-word;
}

.links-list {
  list-style: none;
  padding: 0;
  margin: 30px 0 0 0;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}
