.avatar-container {
  position: relative;
}

.work-badge {
  margin-left: 7rem;
  position: absolute;
  top: 1rem;
  width: max-content;
}

.name {
  @media (max-width: 991px) {
    margin-bottom: 0.4rem;
    line-height: 1;
    margin-top: 0;
    font-size: 2.7rem !important;
  }
}

.job-title {
  margin-bottom: 2rem;

  @media (max-width: 991px) {
    margin-top: 0;
    font-size: 1.3rem !important;
  }
}

.bio {
  @media (max-width: 991px) {
    font-size: 1.5rem !important;
  }
}

.links {
  display: flex;
  gap: 10px;
  margin-top: 0;
  flex-wrap: wrap;
}
