@font-face {
    font-family: 'the_legend_of_zelda_nesRg';
    src: url('../fonts/loznes-webfont.woff2') format('woff2'),
         url('../fonts/loznes-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: #000000;
	font-family: 'the_legend_of_zelda_nesRg';
	color: #FFFFFF;
	font-size: 9px;
}

#container {
	width: 256px;
}

#header {
	height: 32px;
	padding: 0;
	background-image: url('../img/rock.gif');
}

#footer {
	height: 32px;
	padding: 0;
	background-image: url('../img/rock.gif');
	display: flex;
	justify-content: center;
}
#footer p {
	width: 32px;
	height: 100%;
	background-color: #000000;
}

#content {
	display: flex;
	flex-direction: row;
}

#colLeft {
	background-image: url('../img/rock.gif');
	width: 32px;
}

#colRight {
	background-image: url('../img/rock.gif');
	width: 32px;
}

#colCenter {
	flex: 1;
	padding: 16px;
	line-height: 14px;
	text-align: justify;
	text-justify: inter-word;
}

.title {
	margin: 0 0 20px 0;
	text-align: center;
}

.man {
	display: flex;
	flex-direction: row;
	margin: 32px 0;
}
.man > div {
	flex: 1; text-align: center;
}

.wall {
	height: 8px;
	margin: 32px 0;
	background-image: url('../img/wall.gif');
}

.mission {
	color: #d82800;
	text-align: center;
	margin-bottom: 16px;
}











