.zone {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  perspective: 1200px;

  .zone__cylinder {
    position: relative;
    width: 80%;
    min-height: 2.5em;
    transform-style: preserve-3d;
    transform: translateZ(12px) rotateX(0deg) translateZ(-12px);
    transition: transform 0.3s ease-in-out;
  }

  &:not(.expanded):hover .zone__cylinder {
    transform: translateZ(12px) rotateX(180deg) translateZ(-12px);
  }

  .zone__cylinder > h2 {
    font-size: 1rem;
    font-weight: 100;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    z-index: 2;
    margin: 0;
    text-align: center;
  }

  .zone__cylinder > h2:first-child {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateX(0deg);
  }

  .zone__cylinder > h2.zone__title-back {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateX(180deg) translateZ(1px);
    -webkit-font-smoothing: subpixel-antialiased;
  }

  article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    padding: 5%;
    overflow: hidden;
    transition: opacity 0.25s ease-in-out;

    h1 {
      margin: 0 0 0.2em 0;
    }

    p {
      margin: 0 0 1em 0;
    }
  }

  &.expanded {
    cursor: default;
    color: rgb(255, 255, 255, 1);

    .zone__cylinder {
      display: none;
    }

    article {
      opacity: 1;
      overflow-y: auto;

      transition: opacity 0.5s ease-in-out 0.15s;
    }
  }
}

.design-system {
  grid-area: design-system;
  background-color: var(--wui-color-yellow-500);
}

.front-end {
  grid-area: front-end;
  background-color: var(--wui-color-green-500);
}

.profile {
  grid-area: profile;
  background-color: var(--wui-color-pink-500);
  color: var(--wui-color-black-0);

  article {
    color: var(--wui-color-black-0);
  }
}

.portfolio {
  grid-area: portfolio;
  background-color: var(--wui-color-blue-500);
  color: var(--wui-color-black-0);

  article {
    color: var(--wui-color-black-900);
  }
}
