:root {
  color-scheme: light;

  --desktop-width: 768px;

  --main-x-padding: 20px;
  --main-x-padding-desktop: 80px;

  --header-height: 60px;
  --header-height-desktop: 80px;
  --header-x-padding: var(--main-x-padding);
  --header-x-padding-desktop: var(--main-x-padding-desktop);

  --hero-content-padding-x: var(--main-x-padding);
  --hero-content-padding-x-desktop: var(--main-x-padding-desktop);

  --hero-logo-width: 200px;
  --hero-logo-width-desktop: 280px;

  --cards-gap: var(--main-x-padding);
  --cards-gap-desktop: var(--main-x-padding-desktop);
}
