* {
	box-sizing: padding-box;
}

body {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

.noClick {
	opacity: 0.5;
	pointer-events: none;
}

.noSelect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#mainWrapper {
	width: 100%;
	background-color: #1e1e1e;
	position: relative;
}

header {
	background-color: #232323;
	color: #ffffff;
	height: 60px;
	width: 100%;
}

header .logo {
	position: relative;
	top: 10px;
	left: 10px;
}
header ul {
	color: #ff0000;
	display: inline-block;
	margin: 0 0 0 33px;
}

header * {
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}


#topMenu {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	height: 60px;
}

#topMenu li {
	float: left;
	height: 100%;
	border-left: 1px solid #2b2b2b;
	padding: 12px 20px;
	cursor: pointer;

	display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#topMenu li:hover {
	background-color: #3C3C3C;
}

#topMenu li span {
	vertical-align: 12px;
	display: inline-block;
	margin-right: 13px;
	color: #5b5b5b;
}

#topMenu li i {
	font-size: 36px;
	color: #5b5b5b;
}

#topMenu li:hover span {
	color: #ababab;
}

#topMenu li:hover i {
	color: #ababab;
}

#topMenu #facebookAvatar {
	height: 36px;
	width: 36px;
	display: none;
}

#topMenu #connect span {
	max-width: 110px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
}

#subHeader {
	width: 0%;
	position: fixed;
	height: 100%;
	z-index: 3;
	right: 0;
	color: #FFFFFF;
	top: 60px;
	-webkit-overflow-scrolling: touch;
}

#subHeaderWrapper {
	width: calc(100% - 50px);
	height: 100%;
	padding: 50px;
	position: relative;
	background-color: rgba(15,15,15, 0.85);
	margin-left: 50px;
	border-left: 1px solid #2b2b2b;
	overflow-x: hidden;
	overflow-y: auto;
}

#subHeader .closePanel {
	left: 0;
	right: auto;	
}

#subHeader h2 {
	margin-top: 0;
	font-size: 34px;
}



#menuWrapper {
	width: 100%;
	background-color: #232323;
	border-top: 1px solid #2b2b2b;
	position: absolute;
	height: 60px;
	bottom: 0;
	left: 0;
	/*overflow-x: auto;*/
	/*overflow-y: hidden;*/
	-webkit-overflow-scrolling: touch;
}

#menuWrapper menu {
	margin: 0;
	padding: 0;
	z-index: 3;
	position: relative;
	height: 100%;
	background-color: #232323;
}

#menuWrapper menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#menuWrapper menu li {
	border-bottom: 1px solid #2b2b2b;
	display: inline-block;
	height: 60px;
	width: 60px;
	padding-top: 10px;
	text-align: center;
	cursor: pointer;
	background-color: #232323;
}

#menuWrapper menu li.left {
	float: left;
}

#menuWrapper menu li.right {
	float: right;
}

#menuWrapper menu svg {
	width: 40px;
	height: 40px;
}

#menuWrapper menu svg * {
	fill: #5b5b5b;
}

#menuWrapper menu svg:hover * {
	fill: #ababab;
}

#menuWrapper menu li.selected {
	background-color: #3C3C3C;
}

#menuWrapper menu li.selected svg * {
	fill: #ababab;
}

#menuWrapper menu li.selected svg:hover * {
	fill: #ababab;
}

#menuWrapper menu #likeKalei {
	position: relative;
	display: none;
}

#menuWrapper menu #likeKalei.currentUserLikes {
	background-color: #039be5;
}

#menuWrapper menu #likeKalei.currentUserLikes svg * {
	fill: #FFFFFF;
}


#menuWrapper menu #likesBadge {
	position: absolute;
	background: red;
	color: #FFFFFF;
	padding: 2px 6px 0px 5px;
	border-radius: 10px;
	right: 36px;
	font-size: 11px;
	top: 2px;
	display:none;
	z-index: 1;
}

#menuWrapper menu #replay {
	position: relative;
	display: none;
}

#menuWrapper menu #commentsBadge {
	position: absolute;
	background: red;
	color: #FFFFFF;
	padding: 2px 6px 0px 5px;
	border-radius: 10px;
	right: 36px;
	font-size: 11px;
	top: 2px;
	display:none;
	z-index:1;
}

#menuWrapper menu #commentsBadge[fb-xfbml-state="rendered"] {
	display: block;
}

#menuWrapper menu #commentsBadge.fb_comments_count_zero {
	display: none !important;
}




#menuWrapper menu #commentKalei {
	position: relative;
	display: none;
}


#menuWrapper #drawColors svg * {
	fill: #ebebeb;
}

#menuWrapper #drawColors.light svg * {
	fill: #232323;
}

#menuWrapper #save .loading {
	width: 40px;
	height: 40px;
	display: none;
}

#menuWrapper #save.saving {
	cursor: default;
}

#menuWrapper #shareOnFacebook {
	display: none;
}

#subMenuWrapper {
	width: 0%;
	position: fixed;
	height: 100%;
	z-index: 2;
	left: 0;
	color: #FFFFFF;
	top: 60px;
	-webkit-overflow-scrolling: touch;
}

#subMenuWrapper h2 {
	margin-top: 0;
	font-size: 34px;
}

#subMenuContentWrapper {
	width: calc(100% - 50px);
	height: 100%;
	padding: 50px;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgba(15,15,15, 0.85);
}

.closePanel {
	background-color: #000000;
	height: 50px;
	right: 0;
	opacity: 0.85;
	padding: 10px;
	position: absolute;
	top: 0;
	width: 50px;
	cursor: pointer;
}

.closePanel svg {
	width: 30px;
	height: 30px;
}

.closePanel:hover {
	opacity: 1;
}

#canvasWrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#theCanvas {
	position: absolute;
	top: 0;
	left:0;
	margin: 0;
	padding: 0;
	cursor: url('../img/cursor.png'), auto;
}

#theCanvas[data-cursor-size="S"] { cursor: url('../img/cursor_pencil.png') 16 16, auto;}
#theCanvas[data-cursor-size="M"] { cursor: url('../img/cursor_brush.png') 16 16, auto;}
#theCanvas[data-cursor-size="L"] { cursor: url('../img/cursor_bigBrush.png') 16 16, auto;}
#theCanvas[data-cursor-size="XL"] { cursor: url('../img/cursor_paintRoller.png') 16 16, auto;}

.kaleiOptionsWrapper {
	background-color: #cccccc;
	height: auto;
	position: absolute;
	width: 200px;
	z-index: 2;
}

.kaleiOptionsWrapper a {
	cursor: pointer;
	float: left;
	height: 50px;
	margin: 0;
	padding: 0;
	width: 50px;
}

.kaleiColorPick {
	float: left;
	width: 10%;
	cursor: pointer;
	height: 30px;
}

.kaleiColorPick.selected {
	border: 3px dotted white;
	outline: 3px solid #1d1d1d;
	z-index: 3;
	position: relative;
}

#rangeOpacity {
	border: none;
	margin: 3px 0;
	outline: none !important;
}

#rangeOpacity + .thumb.active {
	display: none;
}

#changeLayoutLinesCount {
	border: none;
	margin: 3px 0;
	outline: none !important;
}

#changeLayoutLinesCount + .thumb.active {
	display: none;
}

#menuWrapper #drawSize {
	background-color: #3C3C3C;
}

#menuWrapper #drawSize svg * {
	fill: #ababab;
}

.aSizeSelector {
	width: 47%;
	margin: 0 1% 10px 1%;
	display: inline-block;
	padding: 30px 20px 15px 20px;
	text-align: center;
	cursor: pointer;
}

.aSizeSelector.selected {
	border: 3px dotted white;
	outline: 3px solid #1d1d1d;
	background-color: #232323;
}

.aSizeSelector:hover {
	background-color: #232323;
}

.aSizeSelector svg {
	width: 55%;
	height: 55%;
}

.aSizeSelector svg * {
	fill: #5b5b5b;
}

.aSizeSelector:hover svg * {
	fill: #ababab;
}

.aSizeSelector p {
	font-size: 20px;
}

.aSizeSelector:hover p {
	color: #ababab;
}


#wrapperLogout {
	display: none;
}


#kaleiGallery .tabs {
	background-color: transparent;
}

#kaleiGallery .tabs a {
	color: #FFFFFF;
	padding: 0 5px;
}

#kaleiGallery .tabs a.active {
	color: #039be5;
}

#kaleiGallery .tabs .indicator {
	background-color: #039be5;
}

#kaleiGallery .tabs .material-icons {
	vertical-align: -6px;
	margin-right: 8px;
	font-size: 27px;
}

.aKaleiGalleryWrapper {
	color: #9B9B9B;
	margin-bottom: 50px;
}

.aKaleiGalleryWrapper .kaleiImage {
	height: 250px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-color: #000;
	cursor: pointer;
}

.aKaleiGalleryWrapper h4 {
	font-size: 18px;
	margin-bottom: 5px;
	color: #F2F2F2;
}

.aKaleiGalleryWrapper h5 {
	font-size: 12px;
	margin-top: 3px;
}

.aKaleiGalleryWrapper .kaleiActions {
	font-size: 13px;
}

.aKaleiGalleryWrapper .kaleiAction {
	cursor: pointer;
	color: #FFFFFF;
}

.aKaleiGalleryWrapper .kaleiAction:hover {
	color: #03a9f4;
}

.aKaleiGalleryWrapper .kaleiAction i {
	vertical-align: -2px;
}

.aKaleiGalleryWrapper .likeKalei.like {
	color: #03a9f4;
}

.aKaleiGalleryWrapper .likeKalei b {
	font-weight: normal;
}


.commentWrapper .kaleiImage {
	max-width: 100%;
	width: 100%;
	height: auto;
}

.commentWrapper .kaleiDescWrapper {
	font-size: 0;
}

.commentWrapper .kaleiDescWrapper .kaleiDescription {
	background-color: #3E3E3E;
	padding: 20px;
	color: #FFFFFF;
	margin: 0;
}

.commentWrapper .kaleiDescWrapper .kaleiDescription h4 {
	margin: 0;
	font-weight: 100;
}

.commentWrapper .kaleiDescWrapper .kaleiDescription h5 {
	margin: 10px 0 0 0;
	font-weight: 100;
	font-size: 1rem;
}

.commentWrapper .kaleiCommentsWrapper {
	padding: 0 10px;
}

@media screen and (max-width: 767px) {
	#topMenu li {
		padding: 12px 16px;
	}
	#topMenu li span {
		display: none !important;
	}
}
