.collection {
  padding: 30px var(--main-x-padding) var(--main-x-padding)
    var(--main-x-padding);
  display: flex;
  flex-direction: column;
  gap: var(--main-x-padding);

  @media (min-width: 768px) {
    padding: 30px var(--main-x-padding-desktop) var(--main-x-padding-desktop)
      var(--main-x-padding-desktop);
    position: relative;
    margin-top: -30px;

    display: grid;
    position: relative;
    z-index: 1;
    grid-template-columns: repeat(auto-fill, minmax(286px, 1fr));
    gap: var(--cards-gap-desktop);
  }
}
