.zone {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: relative;
  cursor: pointer;

  > h2 {
    font-size: 1rem;
    font-weight: 100;
    transition: color 0.3s ease-in-out;
    z-index: 2;
    margin: 0;
  }

  article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    padding: 5%;
    overflow: hidden;
    transition: opacity 0.25s ease-in-out;

    h1 {
      margin: 0 0 0.2em 0;
    }

    p {
      margin: 0 0 1em 0;
    }
  }

  &.expanded {
    cursor: default;
    color: rgb(255, 255, 255, 1);

    > h2 {
      display: none;
    }

    article {
      opacity: 1;
      overflow-y: auto;

      transition: opacity 0.5s ease-in-out 0.15s;
    }
  }
}

.me {
  grid-area: me;
  background-color: var(--wui-color-green-500);
  transition: background-color 0.2s ease-in-out;

  &:not(.expanded):hover {
    background-color: var(--wui-color-green-600);
  }

  article {
    color: var(--wui-color-black-900);
  }
}

.ui {
  grid-area: ui;
  background-color: var(--wui-color-yellow-500);
  transition: background-color 0.2s ease-in-out;

  &:not(.expanded):hover {
    background-color: var(--wui-color-yellow-600);
  }

  article {
    color: var(--wui-color-black-900);
  }
}

.web {
  grid-area: web;
  background-color: var(--wui-color-blue-500);
  transition: background-color 0.2s ease-in-out;
  color: var(--wui-color-black-0);

  &:not(.expanded):hover {
    background-color: var(--wui-color-blue-600);
  }
}

.mob {
  grid-area: mob;
  transition: background-color 0.2s ease-in-out;
  background-color: var(--wui-color-pink-500);
  color: var(--wui-color-black-0);

  &:not(.expanded):hover {
    background-color: var(--wui-color-pink-600);
  }
}
