# Le serveur doit suivre les liens symboliques : 
Options +FollowSymlinks 

RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1%{REQUEST_URI} [R=301,QSA,NC,L]

# Activation du module de réécriture d'URL :
RewriteBase /kalei

RewriteRule ^guid/([a-z-0-9]*)$ index.php?KAL_GUID=$1 [L,QSA]