html {
		width: 100%;
		height: 100%;
	}
	body {
		width: 100%;
		height: 100%;
		color: #FFFFFF;
		background-image: url('../img/old-paper-texture.jpg');
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	a {
		color: #420000;
		text-decoration: underline;
	}
	#logo {
		text-align: center;
		margin-top: 70px;
	}

	h1 {
		text-align: center;
		margin: 30px 0 6px 0;
		font-family: 'Tillana', cursive;
		font-size: 40px;
		color: #230000;
	}

	h2 {
		text-align: center;
		margin: 0 0 30px 0;
		font-family: 'Tillana', cursive;
		font-size: 20px;
		color: #230000;
	}

	.alignCenter {
		text-align: center;
	}

	p {
		padding: 10px;
		font-size: 30px;
		font-family: 'Tillana', cursive;
		line-height: 130%;
		color: #230000;
		text-align: center;
		margin-bottom: 5px;
	}

	.warning {
		border-radius: 15px;
		color: white;
		background-color: red;
		padding: 15px 20px;
		margin: 20px 0 0 0;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 20px;
	}		