.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100px;
}

.gallery-item-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 999px;
}

.gallery-item-name {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Nombre de lignes souhaitées */
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  text-align: center;
}
