.h2 {
  font-size: 80px;
  font-weight: 900;
  letter-spacing: -4px;

  background-clip: text;
  -webkit-text-fill-color: transparent;

  text-align: center;
  margin: 0;
}

.gifClip {
  background-image: url("https://wawawoom.fr/projects/cdn/lab/water.gif");
  background-size: cover;
}

.gradientClip {
  background-image: linear-gradient(90deg, red, rgb(255, 200, 0));
}
